# Copy this file to .env and fill with real values

# PostgreSQL
POSTGRES_DB=marketplace
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<your-password>

# JWT 
JWT_KEY=<your-jwt-key>

# Redis
REDIS_CONNECTION_STRING=redis:6379